

    <div id="fh5co-page">
        <header id="fh5co-header" role="banner">
           
                <div class="header-inner">
                    <a href="/../">
                        <img src="~/Scripts/images/logo final.png" class="logo" style="float:left; margin-right:1%; height:97px"/>
                       </a>
                        <h1><a href="/../">OmniMerit<span></span></a></h1>
                    <p style="float:left; margin-top: 50px;color: greenyellow;margin-left: -156px;">Integrating Noble values </p>


                   
                  
                        <nav role="navigation">
                            <ul>


                                <li><a href="#" class="home active">Home</a></li>

                                <li><a href="#" class="scrollabout">About us</a></li>
                                <li><a href="" class="scrollBottom">Courses</a></li>
                                <li><a href="" class="scrollBottom">Contact Us </a></li>
                               
                                <li><a href="/Default/Career">Career</a></li>

                            </ul>
                        </nav>
</div>
           
        </header>
       
        <aside id="fh5co-hero" class="js-fullheight">
            <div class="flexslider js-fullheight">
                <ul class="slides">
                    <li style="background-image: url(../../Scripts/images/slide_1.jpg);">
                        <div class="overlay-gradient"></div>
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <h2>Integrating Noble Values</h2>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(../../Scripts/images/slide_2.jpg);">
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <h2>We believe that everyone has the right to an affordable, quality education.</h2>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(../../Scripts/images/slide_3.jpg);">
                        <div class="container">
                            <div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
                                <div class="slider-text-inner">
                                    <h2>We Think Different That Others Can't</h2>
                                    
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div id="fh5co-why-us" class="animate-box whymargin" >
            <div class="container">
                <div class="row">
                    <div class="col-md-4  item-block">
                        <img src="../../Scripts/images/30.svg" alt="img" class="img-responsive why-image" style="height:184px;margin-top: 30px;margin-left: 16%;">
                    </div>
                    <div class="col-md-8">

                        <h3 class="text-center">About Us </h3>
                        <p> OmniMerit is India’s first-of-its-kind assessment platform that will help the organisations and the students to measure and identify talent. OmniMerit will help the students to know their calibre at the national level and can use this opportunity to polish their skills and capabilities. OmniMerit will open the eyes of their students to the country's potential and their place in it. It will give its students feet to run and wings to fly by exposing their dormant capacity to realise their dreams. Our vision is to ensure that everyone in the country gets an equal opportunity to build a career and pursue their dreams.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4  item-block">
                        <img src="../../Scripts/images/18.svg" alt="img" class="img-responsive why-image" style="height:184px;margin-top: 30px;margin-left: 21%;">
                    </div>
                    <div class="col-md-8">

                        <h3 class="text-center">Explore</h3>
                        <p>In our opinion every piece of work can be divided into three phase; first is concept, second is execution, and third is application. Concept and Execution phases can be learned through course work while the application phase needs an innovative, creative and analytical mind. As application is the most important pillar of every competitive exam, it is important to consider challenge as an opportunity. We took students’ challenge as our opportunity and our team rolled up sleeves to show their true mettle by delivering its services unto the horizon.</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 item-block">
                        <img src="../../Scripts/images/27.svg" alt="img" class="img-responsive .why-image" style="height:163px;margin-top: 30px;margin-left: 19%;">
                    </div>
                    <div class="col-md-8">
                        <span class="icon"></span>
                        <h3 class="text-center">Expertise</h3>
                        <p>We aim to encourage every student by truly showing their footprints on national level. Our services are designed in such a way that you will love the game even if you lose, and if you succeed, your feet will remain on the ground but with better shoes. Dreams will be given the opportunity to become reality and a reality which they can work towards. The only requirement is to have courage to follow your heart and intuitions and have trust on our services.</p>

                    </div>

                </div>
            </div>
                </div>

                <section id="cd-team" class="cd-section">
            <div class="cd-container">
                <h1>Our team</h1>
                <ul>
                    <li>
                        <a href="#0" data-type="member-1">
                            <figure>
                                <img src="~/Scripts/images/teampic/Talha Ahmad.jpg" class="img-circle"  alt="Talha Ahmad">
                                <div class="cd-img-overlay"><span>Talha Ahmad <br />Alumni NIT Jalandhar</span></div>
                            </figure>
                            <div class="cd-member-info">
                                Talha Ahmad <span>Alumni NIT Jalandhar</span>
                            </div> <!-- cd-member-info -->
                        </a>
                    </li>
                    <li>
                        <a href="#0" data-type="member-2">
                            <figure>
                                <img src="~/Scripts/images/teampic/Najamu Saqib.JPG"  class="img-circle" alt="Najamu Saqib">
                                <div class="cd-img-overlay"><span>Najamu Saqib <br /> UPSC Main Qualified</span></div>
                            </figure>
                            <div class="cd-member-info">
                                Najamu Saqib <span>UPSC Main Qualified</span>
                            </div> <!-- cd-member-info -->
                        </a>
                    </li>
                    <li>
                        <a href="#0" data-type="member-3">
                            <figure>
                                <img src="~/Scripts/images/teampic/Dr Ahmad Faraz.jpg" class="img-circle" alt="Dr Ahmad Faraz">
                                <div class="cd-img-overlay"><span> Dr Ahmad Faraz <br />MBBS-MD, AMU</span></div>
                            </figure>
                            <div class="cd-member-info">
                                Dr Ahmad Faraz <span>MBBS-MD, AMU</span>
                            </div> <!-- cd-member-info -->
                        </a>
                    </li>

                    <li>
                        <a href="#0" data-type="member-4">
                            <figure>
                                <img src="~/Scripts/images/teampic/Avinash Sharma.jpg" class="img-circle" alt="Avinash Sharma">
                                <div class="cd-img-overlay"><span> Avinash Sharma<br>Alumni NIT Warangal</span></div>
                            </figure>
                            <div class="cd-member-info">
                                Avinash Sharma
                                <span>Alumni NIT Warangal</span>
                            </div> <!-- cd-member-info -->
                        </a>
                    </li>
                    <li>
                        <a href="#0" data-type="member-5">
                            <figure>
                                <img src="~/Scripts/images/teampic/Vidhu Trivedi.jpg" class="img-circle" alt="Vidhu Trivedi">
                                <div class="cd-img-overlay"><span>  Vidhu Trivedi<br />Alumni IIT Dhanbad</span></div>
                            </figure>
                            <div class="cd-member-info">
                                Vidhu Trivedi
                                <span> Alumni IIT Dhanbad</span>
                            </div> <!-- cd-member-info -->
                        </a>
                    </li>
                </ul>
            </div> <!-- cd-container -->
        </section> <!-- cd-team -->






                <div id="fh5co-courses" class="fh5co-cta" style="background-image: url(../../Scripts/images/slide_2.jpg);">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="col-md-12 text-center animate-box">
                            <h3>Courses</h3>
                            <p>
                               <a href="/Default/Engineering"><span  class="btn btn-primary btn-outline with-arrow courses-btn">IIT <i class="icon-arrow-right"></i></span></a>
                              <a href="/Default/Medical"><span  class="btn btn-primary btn-outline with-arrow left courses-btn">PMT <i class="icon-arrow-right"></i></span></a>
                                <a href="/Default/Foundation"> <span class="btn btn-primary btn-outline with-arrow left courses-btn">Foundation <i class="icon-arrow-right"></i></span></a>
                            </p>
                        </div>
                    </div>
                </div>

                <footer id="fh5co-footer" role="contentinfo">

                    <div class="container">
                        <div class="col-md-3 col-sm-12 col-sm-push-0 col-xs-12 col-xs-push-0">
                            <h3>Contact us </h3>
                            <h4><i class="icon-envelope"></i> &nbsp; support@omnimerit.com</h4>
                            <h4><i class="icon-phone"></i>​&nbsp;+91 98102 72159</h4>


                        </div>



                        <div class="col-md-12 fh5co-copyright text-center">
                            <p>&copy; 2016  All Rights Reserved. </p>
                        </div>

                    </div>
                </footer>

                <div class="scroll-top-wrapper ">
                    <span class="scroll-top-inner">
                        <i class="icon-arrow-up"></i>
                    </span>
                </div>

            </div>

