
@{
    ViewBag.Title = "Medical";
}
<div id="fh5co-page">
    <header id="fh5co-header" style="background: #333333;" role="banner">

        <div class="header-inner">
            <a href="/../">
                <img src="~/Scripts/images/logo final.png" class="logo" style="float:left; margin-right:1%; height:97px" />
            </a>
            <h1><a href="/../">OmniMerit<span></span></a></h1>
            <p style="float:left; margin-top: 50px;color: greenyellow;margin-left: -156px;">Integrating Noble values </p>




            <nav role="navigation">
                <ul>


                    <li><a href="#" class="home active">Home</a></li>

                    <li><a href="#" class="scrollabout">About us</a></li>
                    <li><a href="" class="scrollBottom">Courses</a></li>
                    <li><a href="" class="scrollBottom">Contact Us </a></li>

                    <li><a href="/Default/Career">Career</a></li>

                </ul>
            </nav>
        </div>

    </header>
    <h2>Medical</h2>

    </div>